{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-transform-typescript-metadata",
    [
      "module-resolver",
      {
        "alias": {
          "@shared": "./src/shared",
          "@modules": "./src/modules",
          "@config": "./config",
          "@tests": "./tests",
          "@middleware": "./src/middleware"
        }
      }
    ],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ],
  "ignore": [
    "**/*.spec.ts"
  ]
}
